.card{
  background:white;
  border:1px solid rgb(233,233,233);
  width:218px;
  display:inline-block;
}

.card_body{
 padding:10px; 
}

.cardFooter .fa-heart{
  font-size:0.7rem;
  color:rgb(224,226,215);
}

.card .fa-circle{
  color:rgb(238,238,238);
  font-size:0.7rem;
}

.card .fa-star{
  color: rgb(240,182,76);
  font-size:0.8rem;
}

.card .scoreStatus {
  display:inline-block;
  float:right;
  line-height:20px;
}

.card .status, .card .cardFooter{
  height:auto;
  width:100%;
  clear:both;
  padding-top:5px;
  padding-bottom:5px;
}

.card .cardFooter{
  border-top:1px solid rgb(233,233,233);
  line-height:32px;
  padding-top:5px;
  padding-bottom:5px;
}

.card .userNameHost{
  font-size:0.8rem;
  font-weight:bold;
  color: rgb(187,187,187);
  line-height:20px;
}

.card .score1{
  color:  rgb(240,182,76);
  font-size:0.8rem;
}

.card .score2{
  color: rgb();
  font-size:0.8rem; 
  color: rgb(187,187,187);
  margin-left:5px; 
}

.card .price_host{
  float:right;
  color: rgb(105,157,57);
  font-size:1rem;
  font-weight:bold;
  line-height:0.8rem;
}

.card .price{
 font-size:0.9rem; 
}

.card .rubl{
  font-family: 'Roboto'; 
  font-size:0.9rem;
}
