.card{
  background:white;
  border:1px solid rgb(233,233,233);
  width:218px;
  display:inline-block;
}

.card_body{
 padding:10px; 
}

.cardFooter .fa-heart{
  font-size:0.7rem;
  color:rgb(224,226,215);
}

.card .fa-circle{
  color:rgb(238,238,238);
  font-size:0.7rem;
  margin-left:10px;
}

.card .fa-star{
  color: rgb(240,182,76);
  font-size:0.7rem;
  margin-left:10px;
}

.card .userNameHost{
  float:left; 
}

.card .scoreStatus {
  float:right; 
}

.card .status{
  height:auto;
  width:100%;
}

.card .cardFooter{
  width:100%;
  border-top:1px solid rgb(233,233,233);
}
