body{
  background:rgb(246,246,246);
  font-size:1rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1{
  font-size:1.5rem;
  text-align:center;
}

.list_host{
  text-align:center;
  font-size:0px;
}text-align:center;
  font-size:0px;

.list_slider{
  
}

.slider_left_button, .slider_right_button {
  width: 50px;
  height:100%;
  max-height:100%;
  background:rgba(0,0,0,0.5);
}

.slider_left_button{
  float:left; 
}

.slider_right_button{
  float:right; 
}

.slider_content{
  text-align:center;
}

.slider_wrapper{
 border:1px solid black; 
 height:auto;
}

.slider_content{
  border:1px solid silver;
  height:100px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
}

.slider_container{
  position:relative;
  overflow:hidden;
  height:50px;
  border:1px dotted black; 
}

.slider{
  height:auto; 
}
